header {
    position: relative;
    width: 100%;
    overflow: hidden;
    
    #logo {
        position: absolute;
        top: 5%;
        left: 50%;
        margin-left: -25%;
        max-width: 50%;
    }
    #bgImg {
        width: 100%;
    }
}