body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;;
}

.wrapper {
    width: 1202px;
    max-width: 100%;
    margin: auto;
    background-color: $regentStBlue;
}

%col {
    display: inline-block;
    margin: 0;
}
