body {
    background-color: #212121;
}

p {
    font-size: 17px;
    line-height: 20px;
}

.col3 {
    @extend %col;
    width: 33.33%
}

.service {
    @include serviceDisplay;
}

#blog {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.col4 {
    @extend %col;
    width: 24.91%;
    box-sizing: border-box;
}

#sec1 {
    @include secDisplay ($spindle);
}
#sec2 {
    @include secDisplay ($regentStBlue);
}
#sec3 {
    @include secDisplay ($morningGlory);
}
#sec4 {
    @include secDisplay ($halfBaked);
}

@media (max-width: 610px) {
    .col3 {
        width: 100%;
    }

    #blog {
        display: inline-block;
        margin-bottom: 15px;
    }

    .col4 {
        width: 100%;
        background-color: red($color: #000000);
    }

    section p {
        margin-bottom: 0px;
    }
}